<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rdx40-enb9bgbbevdhfrcv.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd981733-ec94-4621-8894-b152b057ac54/resourceGroups/rdx40eh/providers/Microsoft.Web/sites/rdx40</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>rdx40-enb9bgbbevdhfrcv.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>rdx40</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>EventHubDataMover</WebJobName>
  </PropertyGroup>
</Project>